DEVICE_NAME = CLIENT-IOT-BLE
SERVICE_ID = a38deac2-1ab2-4d23-8ba4-e68399782297
MIN_RSSI = -80
MIN_PUBLISH_INTERVAL = 10

ROUTER_ID = AA:AA:AA:AA:AA:A0


MQTT_BROKER = central-link-iot.duckdns.org
MQTT_PORT = 8883
MQTT_ROUTER_TOPIC = clinic-iot/router-topic
MQTT_TOPIC = clinic-iot/topic
MQTT_USERNAME = central-link
MQTT_PASSWORD = central-link-password

ROUTER_ACTIVE_INTERVAL = 60

TLS_CA_FILE = certs/ca.crt
TLS_CERT_FILE = 
TLS_KEY_FILE = 