MQTT_BROKER = 
MQTT_PORT = 
MQTT_TOPIC = clinic-iot/topic
MQTT_ROUTER_TOPIC = clinic-iot/router-topic
MQTT_USERNAME = central-link
MQTT_PASSWORD = central-link-password

SERVER_PORT = 3000
SERVER_HOST = localhost

ORACLE_DB_USER= 
ORACLE_DB_PASSWORD= 
ORACLE_DB_CONNECT_STRING= 
DB_POOL_MIN=1
DB_POOL_MAX=5
DB_POOL_INC=1
OBJECT_STORAGE_NAMESPACE_NAME= 
OBJECT_STORAGE_BUCKET_NAME= 
OBJECT_STORAGE_REGION= 

JWT_SECRET=clinic_iot_super_secret_key

DEVICES_SIGNAL_PERIOD=5
ROUTER_ACTIVE_INTERVAL= 60